<div class="d-grid gap-3 mt-5">
  <div class="d-flex justify-content-start align-items-center gap-3">
    {{#if profile.profilePicture}}
      <img
        src="{{profile.profilePicture}}"
        class="img-thumbnail rounded-circle w-25 float-start"
        alt="{{profile.username}}"
        id="profile-image"
      />
    {{/if}}
    <h1>{{profile.username}}'s Profile</h1>
  </div>
  <span><strong>Name</strong>: {{profile.username}}</span>
  <span><strong>Email</strong>: {{profile.email}}</span>

  {{!-- <label for="input-name">Name</label>
  <input type="text" id="input-name" name="name" placeholder="Your Name" value="{{profile.name}}" />

  <label for="input-email">Email</label>
  <input type="email" id="input-email" name="email" placeholder="Your Email" value="{{profile.email}}" />

  <label for="input-username">Username</label>
  <input type="text" id="input-username" name="username" placeholder="A unique username" value="{{profile.username}}" />

  <label for="input-picture">Profile Picture <small>(optional)</small></label>
  <input id="input-picture" type="file" name="picture" /> --}}

  {{#if user}}

    {{#if isOwnProfile}}

      <div class="d-grid gap-2 d-md-flex justify-content-md-start">

        <a href="/user/profile/{{profile._id}}/edit">
          <button class="btn btn-outline-secondary">Edit Profile</button></a>

        <form method="POST" action="/user/profile/delete">
          <button class="btn btn-outline-secondary">Delete Account</button>
        </form>
      </div>

      <h3>Create your events</h3>

      <a href="/events/create"><button class="btn btn-outline-secondary">Create
          Now!</button></a>

      <h3>List of your own Events</h3>
      <a href="/user/profile/{{profile._id}}/events"><button
          class="btn btn-outline-secondary"
        >See your events</button></a>

    {{else}}

      {{#if follow}}
        {{! Show following button if "follow" relationship exists }}
        <form method="POST" action="/user/profile/{{profile._id}}/unfollow">
          <button class="btn btn-outline-secondary">Following</button>
        </form>
      {{else}}
        {{! Show follow button if no "follow" relationship exists }}
        <form method="POST" action="/user/profile/{{profile._id}}/follow">
          <button class="btn btn-outline-secondary">Follow</button>
        </form>
      {{/if}}

      <h3>Share your moment on {{profile.username}}'s Latest Events</h3>

      <a href="/user/profile/{{profile._id}}/events"><button
          class="btn btn-primary"
        >Share Now 🎉</button></a>

    {{/if}}

  {{/if}}

</div>
{{! Render 1/ user information, 2/ Allow user to edit or delete profile, 3/ a form for event creation, 4/ populate all the event created by this user }}