<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{! Render 1/ list of highlight events (details), 
2/ Once filter click, the event section appear will filtered (Category/Date/Location), 
3/ participant and follower/likes (optional - attendence & follow models) }}

<div>
  <h3>Hightlight Events</h3>

  <p>
    <a href="/events?category=music">Music Events</a>
    |
    <a href="/events?category=sports">Sports Events</a>
  </p>
  {{#each events}}
    <h4>{{title}}</h4>
    <h5>
      <a href="/user/profile/{{host}}">{{host.username}}</a>|
      {{location}}
      |
      {{category}}</h5>
    <a href="/events/{{_id}}">More Details</a>
  {{/each}}
</div>

{{!-- <div>
  {{#if category}}
    <h5>Category</h5>
    {{#each events}}
      <a href="/events/:id"><h4>{{title}}</h4></a>
      <h5>{{location}} | {{category}}</h5>
    {{/each}}
  {{/if}}

  {{#if month}}
    <h5>Month</h5>
    {{#each events}}
      <a href="/events/:id"><h4>{{title}}</h4></a>
      <h5>{{location}} | {{category}}</h5>
    {{/each}}
  {{/if}}

  {{#if location}}
    <h5>Location</h5>
    {{#each events}}
      <a href="/events/:id"><h4>{{title}}</h4></a>
      <h5>{{location}} | {{category}}</h5>
    {{/each}}
  {{/if}}
</div> --}}