<div
  class="d-flex flex-column justify-content-center align-items-center bd-highlight mb-3 bg-secondary text-white bg-gradient"
  style="height: 600px;"
>
  {{#if user}}
    <h1>Let's get started on some sharing!</h1>
    <p>Enjoy the great experience in an event and share it here</p>
    <a href="/events/create"><button class="btn btn-primary">Create a new event</button></a>
  {{else}}
    <h1>Let's get started on some sharing!</h1>
    <p>Enjoy the great experience in an event and share it here</p>
    <a href="/authentication/sign-up"><button class="btn btn-primary">Register
        Now to Share</button></a>
  {{/if}}
</div>

{{! Render 1/ list of highlight events (details), 
2/ Once filter click, the event section appear will filtered (Category/Date/Location), 
3/ participant and follower/likes (optional - attendence & follow models) }}

<div class="mt-5">
  <h3>Hightlight Events</h3>

  {{! <p>
    <a href="/events?category=music">Music Events</a>
    |
    <a href="/events?category=sports">Sports Events</a>
  </p> }}

  <div class="row row-cols-1 row-cols-md-3 g-4">
    {{#each events}}
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="{{picture}}" alt="{{title}}" class="card-img-top" />

          <div class="card-body">
            <a
              href="/events/{{_id}}"
              class="text-decoration-none text-reset"
            ><h4 class="card-title">{{title}}</h4></a>

            <p class="card-text">
              <small class="text-muted">
                <a
                  href="/user/profile/{{host._id}}"
                  class="text-decoration-none text-reset"
                >{{host.username}}</a>
                |
                {{location}}
                |
                <a
                  href="/events?category={{category}}"
                  class="text-decoration-none text-reset"
                >{{category}}</a></small></p>
            <a href="/events/{{_id}}"><button class="btn btn-primary">To share
                your moment!</button></a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>

{{!-- <div>
  {{#if category}}
    <h5>Category</h5>
    {{#each events}}
      <a href="/events/:id"><h4>{{title}}</h4></a>
      <h5>{{location}} | {{category}}</h5>
    {{/each}}
  {{/if}}

  {{#if month}}
    <h5>Month</h5>
    {{#each events}}
      <a href="/events/:id"><h4>{{title}}</h4></a>
      <h5>{{location}} | {{category}}</h5>
    {{/each}}
  {{/if}}

  {{#if location}}
    <h5>Location</h5>
    {{#each events}}
      <a href="/events/:id"><h4>{{title}}</h4></a>
      <h5>{{location}} | {{category}}</h5>
    {{/each}}
  {{/if}}
</div> --}}