<form method="POST" enctype="multipart/form-data">
  <label for="input-title">Event Name</label>
  <input id="input-title" name="title" value="{{event.title}}" />

  <label for="input-description">Event description</label>
  <textarea
    name="description"
    id="input-description"
  >{{event.description}}</textarea>

  {{#if event.picture}}
    <img src="{{event.picture}}" alt="{{event.title}}" />
  {{/if}}
  <label for="input-picture">Event Picture</label>
  <input id="input-picture" type="file" name="picture" />

  <label for="input-location">Location</label>
  <input name="location" id="input-location" value="{{event.location}}" />

  <label for="input-category">Category</label>
  <select name="category">
    <option value="music">Music</option>
    <option value="sports">Sports</option>
  </select>

  <label for="input-price">Price</label>
  <input name="price" id="input-price" value="{{event.price}}" />

  <button>Edit Event</button>
</form>

<form method="POST" action="/events/{{event._id}}/delete">
  <button>Delete Event</button>
</form>