<h3>List of {{user.username}} events</h3>
{{#each events}}

  <h4>{{title}}</h4>
  <h5>{{location}}
    |
    <a href="/events?category={{category}}">{{category}}</a></h5>
  <p>{{description}}</p>
  <a href="/events/{{_id}}"><button>Share your moment now!</button></a>
{{/each}}