<div class="card mb-3">
  <img
    src="{{event.picture}}"
    alt="{{event.title}}"
    class="img-fluid card-img-top"
  />

  <div class="card-body">
    <h5 class="card-title">{{event.title}}</h5>

    <p class="card-text"><small class="text-muted">
        {{event.location}}
        |
        <a
          href="/user/profile/{{event.host._id}}"
          class="text-decoration-none text-reset"
        >{{event.host.username}}</a>
        |
        <a
          href="/events?category={{event.category}}"
          class="text-decoration-none text-reset"
        >{{event.category}}</a>
      </small></p>

    <p class="card-text">{{event.description}}</p>

    {{#if isOwnProfile}}
      <a
        href="/events/{{event._id}}/edit"
        class="text-decoration-none text-reset"
      ><button class="btn btn-outline-secondary">Edit</button></a>
    {{/if}}

    {{! need to ask why the info not able to show in this view }}
    {{#each joins}}
      <img src="{{joiningUser.picture}}" alt="{{joiningUser.username}}" />
      <p>{{joiningUser.user}}</p>
    {{/each}}

    {{! Create a join model to use and display all going user profile pic  }}
    {{!-- {{#if join}} --}}
    <form method="POST" action="/events/{{event._id}}/going">
      <button class="btn btn-outline-secondary">Going</button>
    </form>
    {{!-- {{else}} --}}
    <form method="POST" action="/events/{{event._id}}/notgoing">
      <button class="btn btn-outline-secondary">Have to skip</button>
    </form>
    {{!-- {{/if}} --}}

    <button class="btn btn-primary">Share your moment</button>
  </div>
</div>