<h1>{{event.title}}</h1>
<h5>{{event.location}} | {{event.host.username}} | {{event.category}}</h5>
<img src="{{event.picture}}" alt="{{event.title}}">
<p>{{event.description}}</p>
<h6>{{event.price}}</h6>
<button>Comment</button>

