<div class="card mb-3">
  <img
    src="{{event.picture}}"
    alt="{{event.title}}"
    class="img-fluid card-img-top"
  />

  <div class="card-body">
     <div class="d-grid gap-2 d-md-flex justify-content-md-start align-items-center">
    <h5 class="card-title">{{event.title}}</h5>
    {{#if isOwnProfile}}
      <a
        href="/events/{{event._id}}/edit"
        class="text-decoration-none text-reset"
      ><button class="btn btn-outline-secondary">Edit</button></a>
    {{/if}}
</div>
    <p class="card-text mt-2"><small class="text-muted">
        {{event.location}}
        |
        <a
          href="/user/profile/{{event.host._id}}"
          class="text-decoration-none text-reset"
        >{{event.host.username}}</a>
        |
        <a
          href="/events?category={{event.category}}"
          class="text-decoration-none text-reset"
        >{{event.category}}</a>
      </small></p>

    <p class="card-text">{{event.description}}</p>

    

    {{! need to ask why the info not able to show in this view }}
    <div class="d-flex justify-content-start align-items-center gap-3">
    {{#each joins}}
      {{#if joiningUser.profilePicture}}
      <a href="/user/profile/{{joiningUser._id}}">
        <img src="{{joiningUser.profilePicture}}" alt="{{joiningUser.username}}" class="rounded-circle img-fluid" id="joiner-image"/>
      </a>
      {{else}}
      <a href="/user/profile/{{joiningUser._id}}" class="text-decoration-none text-reset">
        <p>{{joiningUser.username}}</p>
      </a>
      {{/if}}
    {{/each}}
    </div>
  
    {{! Create a join model to use and display all going user profile pic  }}
         <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-4">
    {{#if isJoining}}
    <form method="POST" action="/events/{{event._id}}/going">
      <button class="btn {{#if isJoining}}btn-primary{{else}}btn-outline-secondary{{/if}}">Going</button>
    </form>
    <form method="POST" action="/events/{{event._id}}/notgoing">
      <button class="btn {{#unless isJoining}}btn-primary{{else}}btn-outline-secondary{{/unless}}">Have to skip</button>
    </form>
    {{else}}
        <form method="POST" action="/events/{{event._id}}/going">
      <button class="btn btn-outline-secondary">Going</button>
    </form>
    <form method="POST" action="/events/{{event._id}}/notgoing">
      <button class="btn btn-outline-secondary">Have to skip</button>
    </form>
    {{/if}}
</div>

    {{!-- <button class="btn btn-primary">Share your moment</button> --}}
  </div>
</div>

<form
  method="POST"
  action="/events/{{event._id}}/comment"
  enctype="multipart/form-data"
>
  <label for="input-message" class="form-label">Comment goes here</label>
  <textarea
    id="input-message"
    type="text"
    name="message"
    class="form-control"
  ></textarea>

  <label for="input-picture" class="form-label mt-2">Event Picture</label>
  <input id="input-picture" type="file" name="picture" class="form-control" />

  <button class="btn btn-primary mt-3">Add Comment</button>
</form>

<ul>
  {{#each comments}}
    <li>
      <p>{{picture}}</p>
      <p>{{message}}</p>
      <strong>Posted by {{author.username}}</strong>
    </li>
  {{/each}}
</ul>